header{
    background-color: rgb(245, 122, 7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    overflow: hidden;
  }

  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #e72b09;
  }

img {
    float: left;
    width: 20%;
    height: 20%;
}

.banner{
    background: url(img/pokemon/banner/BANNER-26-POKEMON-1920X700-1170x427.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.banner-title{
    font-size: 36px;
}

.banner-content{
    max-width: 768px;
    text-align: center;
    z-index: 1;
}

.banner-btn{
    padding: 0,5rem 1,5rem;
    appearance: none;
    border: 2px solid green;
    border-radius: 5px;
    margin-top: 1rem;
    background: blue;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    transition: background .275s;
}